{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}

  <h2 class="m-3">
  {% if category == 1 %}
  Нужен бокс? Отлично! Выбирайте.
  {% elif category == 2 %}
  Хотите сдать на хранение? Отлично! Выбирайте.
  {% else %}
  Уточните ваш выбор
  {% endif %}
  </h2>
  <div class="row justify-content-center">
      <div class="col-12 col-lg-6">
          <h5>Пожалуйста, уточните данные:</h5>
          <form action="." method="post" novalidate>
              {{ order_unit_form }}
              {% csrf_token %}
              <p></p>
              {% if user.is_authenticated %}
              <div class='d-flex justify-content-around'>                  
                  <button type="submit" class="d-flex btn btn-info">Перейти к оплате</button>
              </div>     
              {% else %}
              <div class='d-flex justify-content-around'>
                  <button type="submit" class="d-flex btn btn-info" name="have_account">Есть аккаунт, входим!</button>
                  <button type="submit" class="d-flex btn btn-info" name="want_account">Нет аккаунта, создаём!</button>
              </div> 
              {% endif %}
          </form>
      </div>
      <div class="col-12 col-lg-6">
        <h3>Стоимость аренды</h2>
        <h4 id="rent_price">{{ initial_price }}</h3>
      </div>
  </div>

{% endblock %}

{% block jsfiles %}
<script>
window.onload = function(e) {

let unitOptions = document.querySelectorAll('.unit-options');

for (var i = 0; i < unitOptions.length; i++) {
  item = unitOptions[i];
  icon = item.attributes["data-icon"].value;
  content = item.innerHTML;
  item.innerHTML = icon + ' ' + content;
  }
  
}
</script>


<script>
    $("#id_unit").change(function () {
      var unit_id = $(this).val();
      var quantity = $("#id_quantity").val();
      var duration = $("#id_rent_duration").val();
      var warehouse_id = $("#id_warehouse").val();

      $.ajax({
        url: '{% url "get_unit_price" %}',
        data: {
          'unit_id': unit_id,
          'quantity': quantity,
          'duration': duration,
          'warehouse_id': warehouse_id,
        },
        dataType: 'json',
        success: function (data) {
          document.getElementById("rent_price").innerHTML = data.price;
        }
      });

    });


    $("#id_quantity").change(function () {
      var quantity = $(this).val();
      var unit_id = $("#id_unit").val();
      var duration = $("#id_rent_duration").val();
      var warehouse_id = $("#id_warehouse").val();

      $.ajax({
        url: '{% url "get_unit_price" %}',
        data: {
          'unit_id': unit_id,
          'quantity': quantity,
          'duration': duration,
          'warehouse_id': warehouse_id,
        },
        dataType: 'json',
        success: function (data) {
          document.getElementById("rent_price").innerHTML = data.price;
        }
      });

    });

    $("#id_rent_duration").change(function () {
      var duration = $(this).val();
      var unit_id = $("#id_unit").val();
      var quantity = $("#id_quantity").val();
      var warehouse_id = $("#id_warehouse").val();

      $.ajax({
        url: '{% url "get_unit_price" %}',
        data: {
          'unit_id': unit_id,
          'quantity': quantity,
          'duration': duration,
          'warehouse_id': warehouse_id,
        },
        dataType: 'json',
        success: function (data) {
          document.getElementById("rent_price").innerHTML = data.price;
        }
      });

    });    

    $("#id_warehouse").change(function () {
      var warehouse_id = $(this).val();
      var unit_id = $("#id_unit").val();
      var quantity = $("#id_quantity").val();
      var duration = $("#id_rent_duration").val();

      $.ajax({
        url: '{% url "get_unit_price" %}',
        data: {
          'unit_id': unit_id,
          'quantity': quantity,
          'duration': duration,
          'warehouse_id': warehouse_id,
        },
        dataType: 'json',
        success: function (data) {
          document.getElementById("rent_price").innerHTML = data.price;
        }
      });

    });



  </script>
{% endblock %}  