{% extends 'base.html' %}


{% block headjsfiles %}
    <script src="https://api-maps.yandex.ru/2.1/?apikey=9ec12869-8f9d-4e5b-b686-3f5f6724f2cd&lang=ru_RU" type="text/javascript">
    </script>

    <script type="text/javascript">
        ymaps.ready(init);
        function init(){
            var myMap = new ymaps.Map("map", {
                center: [55.755819, 37.617644],
                zoom: 10,
                controls: ['geolocationControl']
            });

        {% for name, props in warehouses.items %}
            var myPlacemark_{{ forloop.counter0 }} = new ymaps.GeoObject({
                geometry: {
                type: "Point",
                coordinates: {{ props.0 }}
                },
                properties: {
                // Контент метки.
                iconContent: '{{ name }}',
                hintContent: '{{ props.1 }}',
                }
        },{
            // Опции.
            // Иконка метки будет растягиваться под размер ее содержимого.
            preset: 'islands#blackStretchyIcon'
        }
        );

    myMap.geoObjects.add(myPlacemark_{{ forloop.counter0 }});    
    {% endfor %}

        }
    </script>
{% endblock %}


{% block content %}
<div id="map" style="width: 60rem; height: 40rem;"></div>
{% endblock %}

{% block jsfiles %}{% endblock %}