{% extends "base.html" %}
{% block content %}
<h1 class="m-3">Здравствуйте, {{ request.user }}!</h1>
{% for order in orders %}

        <div class="card">
          <div class="card-header">
            Номер заказа: {{order.id}}
          </div>
            {% for order_unit in order.rent_order.all  %}
              <div class="card-body">
                <h5 class="card-title">{{ order_unit.warehouse }}</h5>
                <p class="card-text">Предмет аренды: {{ order_unit.unit }}, {{ order_unit.quantity }}</p>
                <p class="card-text">Начало аренды: {{ order_unit.rent_start }}</p>
                <p class="card-text">Продолжительность аренды: {{ order_unit.get_rent_duration_display }}, с {{ order_unit.rent_start }} до {{ order_unit.rent_end }}</p>
                <p class="card-text">Стоимость аренды: {{ order_unit.price }} р.</p>
              </div>
            {% endfor %}
            <div class="card-footer">
            Статус заказа: {{ order.get_status_display }}
            <p></p>
            Стоимость всего заказа: {{ order.order_price }} р.
            </div>
        </div>
    <p></p>
    {% endfor %}

{% endblock %}