{% extends "base.html" %}
{% block content %}
{% if not request.user.is_authenticated %}
<h1 class="m-3">Создание аккаунта</h1>
    <div class="row justify-content-center">
        <div class="col-md-6">
            <p>Пожалуйста, заполните следующие поля:</p>
            <form action="." method="post">
                {{ form.as_p }}
                {% csrf_token %}
                <p><input type="submit" value="Создать аккаунт"></p>
            </form>
        </div>
    </div>
{% endif %}
{% endblock %}